<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EMS</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">EMS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/addEvidence">ADD EVIDENCE</a></li>
          <li id="about"><a href="/showEvd">SHOW EVIDENCES</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="userid"><%=data %></li>
          <li><nav class="navbar navbar-light bg-light">

</nav></li>
        </ul>
    </div>
  </nav>

  <body >
    <div class="container">
